@media only screen and (max-width: 480px) {
    .activity-main-container{
        display: flex;
        flex-direction: column;
    }
    .activity-left-wrapper{
        width: 100%;
    }
    .activity-right-wrapper{
        width: 100%;
    }
    header{
        width:100%;
        display:inline-flex;
        justify-content: space-between;
    }
    .profile-wrapper{
        width: 50%;
        display: inline-flex;
        justify-content: space-evenly;
    }
    #client-dash-logo{
        width: 30%;
        padding-left: 20px;
    }
    #add-vendorform > button {
        padding: 10px;
        width: 27%;
    }
    .left-area-wrapper.open {
        transform: translateX(0);
        width: 100%;
        z-index: 999;
    }
    #add-vendorform > #vendor-submit-btn{
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 768px) {
    .order-wrappers{
    display: flex;
    flex-wrap: wrap;
    }
    .order-innerWrapper{
        width: 48.3%;
        margin-bottom: 10px;
    }
    #client-dash-logo{
        width: 30%;
        padding-left: 50px;
    }
    .left-area-wrapper.open {
        transform: translateX(0);
        width: 100%;
        z-index: 999;
    }
    .date-wrapper{
        display: flex;
        flex-direction: column;
    }
    .right-area-wrapper{
        width:max-content;
    }
    .recent-orders-wrapper{
        width:max-content;
    }
    .master-wrapper-second{
        width: max-content;
    }
    .run-time-order{
        width: max-content;
    }
    .add-vendorform{
        flex-direction: column;
    }
}     

@media only screen and (max-width: 500px) {
    .order-wrappers{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 5px 10px 5px 10px;
    }
    .order-innerWrapper{
        width: 100%;
    }
  }  

