<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Dashboard</title>
    
    <link href="../assets/css/client_style.css" rel="stylesheet" />
    <link href="../assets/css/client_responsive.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .header {
            background-color: #f8f9fa;
            padding: 10px 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .notification-badge {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            background: red;
            color: white;
            font-size: 0.8rem;
            padding: 3px 6px;
            border-radius: 50%;
        }

        .profile-avatar {
            width: 70px;
            height: 77px;
            border-radius: 50%;
            cursor: pointer;
        }

        .position-relative {
            position: relative;
        }

        #logo-img {
            width: 45%;
        }

        #dashboard-client > a{
            text-decoration:none;
            color:black;
        }

        #dashboard-client > a:hover {
            text-decoration: none;
            color: white;
        }

        #login-role-name{
            font-weight:500;
            font-size:18px;
        }
    </style>
</head>
<body>
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
     <header>

        @* <img src="../assets/img/ots1.png" alt="OTS Logo" id="client-dash-logo"> *@
        <a href="../Client/index"><img src="../assets/img/ots1.png" alt="OTS Logo" id="client-dash-logo"></a>

        <div class="profile-wrapper">
            <div class="password-dropdown">
                <div class="dropdown-content">
                    <h2>Notifications</h2>

                    <ul style="list-style-type: none;padding-left: 0rem !important;" id="not_div"></ul>
                                       
                </div>

                <abbr title="Notifications">
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" id="spnncount" style="height: 30px; width: 30px;line-height: 14px;text-align: center;color: white;"></span>
                    <i class="fa-solid fa-bell"></i>
                </abbr>

            </div>

            <span style="font-weight: 300; font-size: 18px;"><b>Hi @HttpContextAccessor.HttpContext.Request.Cookies["username"].ToString()</b></span>
            
            <div class="profile">
                <img src="../images/user.jpg" alt="" onclick="toggleDropdown('myDropdown')">
                <div id="myDropdown" class="profile-content" style="padding: 2px;">
                    <a href="../Account/Logout"><button class="btn btn-danger col-md-12">Logout <i class="fa-solid fa-right-from-bracket"></i></button></a>
                </div>
            </div>
        </div>
    </header>

    

    <!------------------------------ middle-main-container Start ------------------------------------->
    <div class="middle-main-container">

        <!------------------------------ left-area-wrapper Start ------------------------------------->
        @{
            if (HttpContextAccessor.HttpContext.Request.Cookies["usertype"].ToString() == "C")
            {
                    <div class="left-area-wrapper">
                        <div class="sidebar-profile">
                            <!--<img src="../assets/img/2363735.png" id="clint-profile-img" />-->
                        
                        </div>
                        <hr>
                    <!--<span id="login-role-name">Hi, Vijbin </span> -->
                    @* <div class="sidemenulist" onclick="toggleDropdown('vendorDropdown')">
            <span class="icon"><i class="fas fa-truck"></i> Establish vendor/suppliers</span>
            <i class="fa-solid fa-caret-down"></i>
            </div>
            <div id="vendorDropdown" class="sidebar-dropdown-content">
            <a href="../Client/Add_vendor">Add Vendor</a>

            </div>*@
                        <div class="sidebarmenus">
                            <div class="sidemenulist" onclick="toggleDropdown('orderDropdown')">
                                <span class="icon"><i class="fas fa-shopping-cart"></i> Order</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="orderDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/new_Order">Pending Order</a>
                                <a href="../Client/All_Order">All Order</a>
                                <a href="../Client/Approved_Order">Approved Order</a>
                            </div>

                            <div class="sidemenulist" onclick="toggleDropdown('productDropdown')">
                                <span class="icon"><i class="fas fa-box-open"></i> Product Management</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="productDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/Stationary">Stationery</a>
                            <a href="../Client/Housekeeping">Housekeeping</a>
                            <!--<a href="../Client/Visitingcard">Visiting Card</a>
                            <a href="../Client/Printing">Printing Card</a>-->
                            </div>

                            <div class="sidemenulist" onclick="toggleDropdown('usersDropdown')">
                                <span class="icon"><i class="fas fa-users"></i> Corporate Users</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="usersDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/User">Create Users</a>
                                <a href="../Client/ViewUser">View Users</a>
                            </div>

                            <div class="sidemenulist" onclick="toggleDropdown('masterDropdown')">
                                <span class="icon"><i class="fas fa-database"></i> Create Master</span>
                            <!-- <i class="fa-solid fa-caret-down"></i> -->
                            </div>
                            <div id="masterDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/Master">Create Masters</a>
                            </div>
                            <div class="sidemenulist" onclick="toggleDropdown('reportDropdown')">
                                <span class="icon"><i class="fas fa-chart-line"></i> MIS Report</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="reportDropdown" class="sidebar-dropdown-content">
                                <!--<a href="../client/">Default Wise</a>-->
                                <a href="../client/MisReportOrderWise">Order Wise</a>
                                <a href="../client/MisReportProductWise">Product Wise</a>
                                <!-- <a href="../client/MisReportCostCenterWise">Cost Center Wise</a>-->
                                <a href="../client/MisReportBranchWise">Branch Wise</a>
                                <a href="../client/MisReportDepartmentrWise">Department Wise</a>
                                <!-- <a href="../client/#">GST Wise</a>-->
                            </div>

                            <div class="sidemenulist" onclick="toggleDropdown('challanDropdown')">
                                <span class="icon"><i class="fas fa-file-alt"></i> Challan</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="challanDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/Approve_challan">Approve Challan</a>
                            </div>

                            <div class="sidemenulist" onclick="toggleDropdown('runtimeorderDropdown')">
                                <span class="icon"><i class="fas fa-play"></i> Run Time Order</span>
                            </div>
                            <div id="runtimeorderDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/RuntimeOrder">Run Time Order</a>
                            </div>


                            <div class="sidemenulist" onclick="toggleDropdown('AgreementDropdown')">
                                <span class="icon"><i class="fas fa-file-invoice"></i> Agreement</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="AgreementDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/ViewAgreement">View Agreement</a>
                            </div>

                            <div class="sidemenulist" onclick="toggleDropdown('AboutDropdown')">
                                <span class="icon"><i class="fa-solid fa-circle-info"></i> About Company</span>
                                <!-- <i class="fa-solid fa-caret-down"></i> -->
                            </div>
                            <div id="AboutDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/About">About Company</a>
                            </div>

                        </div>
                    </div>
            }
            else
            {

                    <div class="left-area-wrapper">
                        <div class="sidebar-profile">
                       <!--<a href="../client/index"><img src="../assets/img/2363735.png" id="clint-profile-img" /></a>-->
                        
                        </div>
                        <hr>
                        <div class="sidebarmenus">

                        <div class="sidemenulist">
                            <span id="dashboard-client" class="icon"><i class="fas fa-home"></i><a href="../client/index"> Dashboard</a></span>
                        </div>

                            <div class="sidemenulist" onclick="toggleDropdown('orderDropdown')">
                                <span class="icon"><i class="fas fa-shopping-cart"></i> Order</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="orderDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/new_Order">Pending Order</a>
                                <a href="../Client/All_Order">All Order</a>
                                <a href="../Client/Approved_Order">Approved Order</a>
                            </div>
                            <div class="sidemenulist" onclick="toggleDropdown('reportDropdown')">
                                <span class="icon"><i class="fas fa-chart-line"></i> MIS Report</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="reportDropdown" class="sidebar-dropdown-content">
                                <!--<a href="../client/">Default Wise</a>-->
                                <a href="../client/MisReportOrderWise">Order Wise</a>
                                <a href="../client/MisReportProductWise">Product Wise</a>
                                <!--<a href="../client/MisReportCostCenterWise">Cost Center Wise</a>-->
                                <a href="../client/MisReportBranchWise">Branch Wise</a>
                                <a href="../client/MisReportDepartmentrWise">Department Wise</a>
                                 @*<a href="../client/#">GST Wise</a>*@
                            </div>
                            <div class="sidemenulist" onclick="toggleDropdown('challanDropdown')">
                                <span class="icon"><i class="fas fa-file-alt"></i> Challan</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                            <div id="challanDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/Approve_challan">Approve Challan</a>
                            </div>
                            <div class="sidemenulist" onclick="toggleDropdown('AboutDropdown')">
                                <span class="icon"><i class="fa-solid fa-circle-info"></i> About Company</span>
                                <!-- <i class="fa-solid fa-caret-down"></i> -->
                            </div>
                            <div id="AboutDropdown" class="sidebar-dropdown-content">
                                <a href="../Client/About">About Company</a>
                            </div>

                        </div>
                    </div>
            }
        }
    
       
    <!------------------------------ middle-main-container End------------------------------------->

        <!------------------------------ right-area-wrapper Start ------------------------------------->
        <div class="right-area-wrapper">
            @RenderBody()

        </div>
        <!------------------------------ right-area-wrapper End ------------------------------------->
    </div>
    <!------------------------------ middle-main-container End------------------------------------->
    
    <!------------------------------ footer start ------------------------------------->

    <footer>

        <div class="main-footer">
            <div class="left-footer">
                @* <img src="." alt="" id="footer-logo"> *@
                <img src="../assets/img/ots.ico" id="footer-logo" />
            </div>

            <div class="right-footer">
                <p>Copyright © 2017 By ChoreDigital Communication LLP</p>
            </div>
        </div>

    </footer>
    <!------------------------------ footer end ------------------------------------->

       
       
        <script src="../user/assets/vendor/libs/jquery/jquery.js"></script>
        <script src="../user/assets/vendor/libs/popper/popper.js"></script>
        <script src="../user/assets/vendor/js/bootstrap.js"></script>
        <script src="../user/assets/vendor/libs/node-waves/node-waves.js"></script>
        <script src="../user/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="../user/assets/vendor/libs/hammer/hammer.js"></script>
        <script src="../user/assets/vendor/libs/i18n/i18n.js"></script>
        <script src="../user/assets/vendor/libs/typeahead-js/typeahead.js"></script>
        <script src="../user/assets/vendor/js/menu.js"></script>
    <!-- jQuery (must be before SweetAlert2 if you use AJAX with Swal) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- SweetAlert2 (must be loaded before any code that uses Swal) -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap (optional if you use it) -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Site-wide JavaScript -->
    <script src="~/js/site.js"></script>
   
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function toggleDropdown(id) {
      var element = document.getElementById(id);
      if (element.style.display === "none" || element.style.display === "") {
          element.style.display = "flex";
      } else {
          element.style.display = "none";
      }
  }
            function getnotification() {
                $.getJSON('../Home/getnotification', function (data) {
                    $("#spnncount").text(data.length);
                    var html = "";
                    for (var i = 0; i <= data.length-1; i++) {
                        html += " <li style='padding-top: 13px;padding-bottom: 13px;border-bottom: 1px dashed #c4bdbd;'><a class='dropdown-item' href='#' onclick='updatenotify("+data[i].id+", \"" + data[i].url + "\")'>" + data[i].msg + "</a></li>";
                    }
                    $("#not_div").append(html);
                })
            }

            function updatenotify(id,url) {
                $.get('../Home/update_notification?id='+id+'', function (data) {
                    if(data=="Success")
                    {
                        window.location.href = url;
                    }
                })
            }
            $(document).ready(function () {
                getnotification();
            });
            @RenderSection("scripts", required: false)
        </script>
        @RenderSection("scripts1", required: false)
</body>

</html>
