@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}
<div class="run-time-order">
    <h3 class="mb-3">Add Product</h3>
    <form method="Post" id="add-vendorform" enctype="multipart/form-data">
        <div class="form-group mb-3 col-md-6">
            <select class="form-control" name="clientid">
                <option value="0">---Select Client---</option>
                @foreach (var item in Model.Client_Model)
                {
                    <option value="@item.Id">@item.Name</option>

                }
            </select>
        </div>
        <div class="form-group mb-3 col-md-6">
            <select class="form-control" aria-label="Small select example" name="category">
                <option selected value="Stationery">Stationery</option>
                <option value="Visiting">Visiting</option>
                <option value="Printing">Printing</option>
              @*   <option value="4">Hardware / Supply</option>
                <option value="5">Book List</option> *@
            </select>
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="Description" name="Description">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="Make" name="Make">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="HSN" name="hsn">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="Quantity" name="Quantity">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="MRP" name="Rate">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="Unit" name="Unit">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="GST(%)" name="gst">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="text" class="form-control" id="inputdefault" placeholder="Stock" name="stock">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input type="file" class="form-control" id="inputdefault" placeholder="Image" name="file">
        </div>

        <button class="col-md-12" id="run-time-order-submit-btn">Apply</button>
    </form>
</div>