
@{
    ViewData["Title"] = "challan_add";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

             <div class="add-vendor-wrapper">
                <h3>Add Courier Services</h3>
                <form method="post" id="add-vendorform">

                    <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Air way Bill no/Tracking No." name="awbno">
                      </div>

                      <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Courier Name" name="curiorname">
                      </div>

                     @*  <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Other Mode</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" href="#">Blue Dart</a></li>
                          <li><a class="dropdown-item" href="#">Allcargo</a></li>
                          <li><a class="dropdown-item" href="#">Tiger Logistics</a></li>
                          <li><a class="dropdown-item" href="#">Lancer Containe</a></li>
                        </ul>
                      </div> *@


                      
                       <button type="submit" class="submit">Submit</button>
                       </form>
                      </div>

