
@{
    ViewData["Title"] = "quotation";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

<div class="run-time-order">
    <h3 class="mb-3">Quotation</h3>
    <form action="#" id="add-vendorform">

        <div class="form-group mb-3 col-md-6 ">
            <input class="form-control" id="inputdefault" placeholder="Product ID">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Description">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Quantity">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="MRP">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Discount %">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="GST(%)">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Total">
        </div>

        <button class="col-md-12" id="run-time-order-submit-btn">Apply</button>
    </form>
</div>

