
@{
    ViewData["Title"] = "Viewquotation";
    Layout = "~/Views/Shared/supplier_layout.cshtml";
}

<h3>View Quotation</h3>
<div class="recent-orders-wrapper">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Product Category</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Discount</th>
            <th>GST</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pencil</td>
            <td>Stationary</td>
            <td>15</td>
            <td>150.00 rs.</td>
            <td>5%</td>
            <td>000</td>
            <td>150.00 rs.</td>
        </tr>
        <tr>
            <td>Pencil</td>
            <td>Stationary</td>
            <td>15</td>
            <td>150.00 rs.</td>
            <td>5%</td>
            <td>000</td>
            <td>150.00 rs.</td>
        </tr>
        <tr>
            <td>Pencil</td>
            <td>Stationary</td>
            <td>15</td>
            <td>150.00 rs.</td>
            <td>5%</td>
            <td>000</td>
            <td>150.00 rs.</td>
        </tr>
    </tbody>
</table>
</div>
<!-- <h5>Total Amount : 30.00 rs.</h5> -->
