@model OTS.Data.Models.combomodel
@{
    ViewData["Title"] = "product_upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-xxl flex-grow-1 container-p-y">



    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Upload Product</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post" action="#" enctype="multipart/form-data">
                      
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Client Name</label>
                                    <select class="form-control" name="clientid">
                                        <option value="0">---Select Client---</option>
                                        @foreach(var item in Model.Client_Model)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                            
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                                                      
                                        <input type="file" name="file"/>

                                   

                                </div>
                            </div>
                        </div>
                      
                        <div class="row" style="margin-top:5%">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-warning btn-fab demo waves-effect waves-light">
                                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span>Upload Product
                                </button>
                               @*  <button type="button" class="btn btn-outline-secondary waves-effect">
                                    <span class="tf-icons mdi mdi-close-box-outline me-1"></span>Reset
                                </button> *@
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Upload Product Images</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post" action="product_upload_images" enctype="multipart/form-data">

                       
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-12">
                                <div class="form-group mb-3">

                                    <input type="file" name="file" multiple accept=".jpg,.png,.gif" />



                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top:5%">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-warning btn-fab demo waves-effect waves-light">
                                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span>Upload Product
                                </button>
                                @*  <button type="button" class="btn btn-outline-secondary waves-effect">
                                <span class="tf-icons mdi mdi-close-box-outline me-1"></span>Reset
                                </button> *@
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts1{
    <script>
        $(document).ready(function () {
            var s = "@TempData["Msg"]";
            if (s != "") {
                alert(s);
            }
        });
       
    </script>
}
