
@{
    ViewBag.Title = "Add";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Add Vendor</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email Id</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone No</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>GST No</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Location</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Service category</label>
                                <select class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Region</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-success btn-fab demo waves-effect waves-light">
                                <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span>Submit
                            </button>
                            <button type="button" class="btn btn-outline-secondary waves-effect">
                                <span class="tf-icons mdi mdi-close-box-outline me-1"></span>Reset
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>

