
@{
    ViewBag.Title = "List";
}

<div class="container-xxl flex-grow-1 container-p-y">
    
    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Vendor List</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-datatable table-responsive pt-0">
                                <table class="datatables-basic table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email Id</th>
                                            <th>Phone No</th>
                                            <th>State</th>
                                            <th>GST No</th>
                                            <th>Location</th>
                                            <th>Service Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>
   
</div>

