
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">About Company</h5>
                <div class="card-body" style="color: #3c3a3a">
                    <p>
                        <strong>Chore Virtual</strong><br/> assistance team is working together since 2010 to provide corporate
                        branding, website designing, web hosting and internet solutions. We are in the top
                        league for quite a time so we guarantee service satisfaction from our end. We have
                        our office located in the economic hub of India called Mumbai.
                    </p>
                    <p>
                        <strong>OUR MISSION</strong><br />
                        Best experienced and versatile with their profile scenario. We try to gather small,
                        mid-level companies including the corporate world in a same circle.
                    </p>
                    <p>
                        <strong>OUR VALUES</strong><br />
                        
                        Chore Virtual provides services across the globe and we always try to give the best
                        productivity with fix timeline structures.We are in the top league for quite a time
                    </p>
                    <p>
                        <strong>OUR APPROACH AND CULTURE</strong><br />
                        
                        We are in the top league for quite a time so we guarantee service satisfaction from
                        our end. We have our office located in the economic hub of India called Mumbai.
                    </p>
                    <p>
                        <strong>About OTS</strong><br />
                        
                        OTS software comes in many forms, including productivity suites, accounting
                        software, customer relationship management (CRM) systems, and more. It's typically
                        developed by software companies or vendors and sold to customers who require
                        solutions for common business needs.
                    </p>
                    <p style="text-align:center"><b>Our Valuable Team</b></p>
                    <p>
                        We have experienced management team who comes from different expertise and
                        skills and makes the beautiful team having verities of skills and quality.
                    </p>
                    <p style="text-align:center">
                        <img src="..\loginassets\chorevirutal.png" style="width:18%"/>
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>

