
@{
    ViewData["Title"] = "franchises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-xxl flex-grow-1 container-p-y">



    <div class="row">
        <!-- Form controls -->
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header"> Franchises  Form </h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post" action="#">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="firstname" placeholder="First Name"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="firstname" placeholder="Last Name" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                   
                                    <input type="text" class="form-control" name="firstname" placeholder="Email Address" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                   
                                    <input type="text" class="form-control" name="lastname" placeholder="GSt No." />
                                </div>
                            </div>
                            
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <input type="text" class="form-control" name="firstname" placeholder="Phone No." />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <input type="text" class="form-control" name="lastname" placeholder="Registration No." />
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <input type="text" class="form-control" name="firstname" placeholder="Product / Service Intrest" />
                                </div>
                            </div>
                            
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <input type="text" class="form-control" name="firstname" placeholder="Questions About Features / Benefits" />
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <input type="text" class="form-control" name="firstname" placeholder="Operational Location" />
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <input type="text" class="form-control" name="firstname" placeholder="type Of Supplies" />
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12" style="text-align: justify;">
                                <p>
                                   <input type="checkbox" /> I except the Franchisee agrees not to directly communicate with clients or customers of the Supplier for any billing, invoicing, or financial matters related to the products supplied by the Supplier. The Franchisee's sole responsibility shall be limited to the supply and delivery of products as outlined in this contract. Any attempt to bypass the Supplier and engage in direct communication with clients for billing purposes shall be considered a breach of contract. In the event of such breach, the Supplier reserves the right to take legal action and seek damages for any losses incurred as a result of the Franchisee's actions.This clause should clearly outline the expectations and responsibilities of the franchisee regarding client communication and billing matters, helping to prevent any misunderstandings or breaches of contract. Make sure to review it with legal counsel to ensure it aligns with your specific business needs and complies with relevant laws and regulations.
                                </p>
                            </div>

                        </div>
                       
                        <div class="row" style="margin-top:5%">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success btn-fab demo waves-effect waves-light">
                                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span>Submit
                                </button>
                                <button type="button" class="btn btn-outline-secondary waves-effect">
                                    <span class="tf-icons mdi mdi-close-box-outline me-1"></span>Reset
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

