
@{
    ViewData["Title"] = "about";
    Layout = "~/Views/Shared/client_layout.cshtml";
}

<div class="run-time-order">
    <h3 class="mb-3">About Company</h3>
    <div class="about-text-wrapper">
        <p>
            <b>Chore Virtual</b> assistance team is working together since 2010 to provide corporate
            branding, website designing, web hosting and internet solutions. We are in the top
            league for quite a time so we guarantee service satisfaction from our end. We have
            our office located in the economic hub of India called Mumbai.
        </p>

        <div class="about-text">
            <h6><b>OUR MISSION</b></h6>
            <p>
                Best experienced and versatile with their profile scenario. We try to gather small,
                mid-level companies including the corporate world in a same circle.
            </p>
        </div>

        <div class="about-text">
            <h6><b>OUR VALUES</b></h6>
            <p>
                Chore Virtual provides services across the globe and we always try to give the best
                productivity with fix timeline structures.We are in the top league for quite a time
            </p>
        </div>

        <div class="about-text">
            <h6><b>OUR APPROACH AND CULTURE</b></h6>
            <p>
                We are in the top league for quite a time so we guarantee service satisfaction from
                our end. We have our office located in the economic hub of India called Mumbai.
            </p>
        </div>

        <div class="about-text">
            <h6><b>About OTS</b></h6>
            <p>
                OTS software comes in many forms, including productivity suites, accounting
                software, customer relationship management (CRM) systems, and more. It's typically
                developed by software companies or vendors and sold to customers who require
                solutions for common business needs.
            </p>
        </div>

        <div class="about-our-teams">
            <h4><b>Our Valuable Team</b></h4>
            <p>
                We have experienced management team
                who comes from different expertise and
                skills and makes the beautiful team having
                verities of skills and quality.
            </p>

           @*  <div class="about-our-teams-profile">
                <div class="teams-profile-names">
                    <img src="./images/b2aebad0f5.jpg" alt="Teams-Pic" id="Teams-Pic"><br>
                    <p>Hello world</p>
                </div>

                <div class="teams-profile-names">
                    <img src="./images/b2aebad0f5.jpg" alt="Teams-Pic" id="Teams-Pic"><br>
                    <p>Hello world</p>
                </div>

                <div class="teams-profile-names">
                    <img src="./images/b2aebad0f5.jpg" alt="Teams-Pic" id="Teams-Pic"><br>
                    <p>Hello world</p>
                </div>

                <div class="teams-profile-names">
                    <img src="./images/b2aebad0f5.jpg" alt="Teams-Pic" id="Teams-Pic"><br>
                    <p>Hello world</p>
                </div>
            </div> *@
        </div><hr>

        <div class="about-footer">
            <div class="about-left-footer">
                <p><i class="fa-solid fa-address-book"></i> 103, Ijmima Building , Behind Infinity Mall , Opp Interface , Off Link Road, Malad West , Mumbai – 400064.</p>

                <!-- <p><i class="fa-solid fa-phone"></i> <a href="tel:+">(801) 252-6482</a></p> -->
                <p><i class="fa-solid fa-phone"></i> <a href="tel:+">(022) 316-408-68</a></p>

                <p><i class="fa-solid fa-envelope"></i> <a href="mailto:accounts@chorevirtual.com">accounts@chorevirtual.com</a></p>
            </div>
            <div class="about-right-footer">
               @*  <img src="./images/ChoreVirutal.png" alt="logo" id="about-right-footer-logo"> *@
                <br>
                <p>Copyright © 2017 By <a href="https://chorevirtual.com/" target="_blank">ChoreDigital Communication LLP</a></p>
            </div>
        </div>
    </div>
</div>

