
@{
    ViewData["Title"] = "Approve_challan";
    Layout = "~/Views/Shared/client_layout.cshtml";
}

<div class="recent-orders-wrapper">
    <h3>Approve Challan</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Approver</th>
                <th>Status</th>
                <th>Remark</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1108</td>
                <td>testuser</td>
                <td>Appproved</td>
                <td>ohk</td>
                <td><button class="btn btn-primary" type="button"><i class="fa-solid fa-check"></i></button></td>
            </tr>

        </tbody>
    </table>
</div>
<hr>


