
@{
    ViewData["Title"] = "Printing";
    Layout = "~/Views/Shared/client_layout.cshtml";
}

 <div class="add-vendor-wrapper">
                <h3>Printing Card Details</h3>
                <form action="#" id="add-vendorform">

                    <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Location">
                      </div>

                      <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Company Name">
                      </div>

                      <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Address to be printed">
                      </div>


                      <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Contact No">
                      </div>

                      <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Tel No.">
                      </div>

                      <div class="form-group mb-3 col-md-6">
                        <input class="form-control" id="inputdefault" placeholder="Website">
                      </div>

                      
                     
                      <div class="recent-orders-wrapper">
                       
    
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Particulars</th>
                                    <th>Size</th>
                                    <th>Quantity</th>   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>Letter Head</td>
                                    <td>A4</td>
                                    <td>
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input type="text" class="number_counter" value="1">
                                            <span class="plus">+</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>Logo sheet/ continuation sheet</td>
                                    <td>A4</td>
                                    <td>
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input type="text" class="number_counter" value="1">
                                            <span class="plus">+</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>Envelope (with window)</td>
                                    <td>24 * 10.9 cms</td>
                                    <td>
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input type="text" class="number_counter" value="1">
                                            <span class="plus">+</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>Envelope (without window)</td>
                                    <td>24 * 10.9 cms</td>
                                    <td>
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input type="text" class="number_counter" value="1">
                                            <span class="plus">+</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>Envelope (with window)</td>
                                    <td>26.7 * 16.6 cms</td>
                                    <td>
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input type="text" class="number_counter" value="1">
                                            <span class="plus">+</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>Envelope (with window)</td>
                                    <td>26.7 * 16.6 cms</td>
                                    <td>
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input type="text" class="number_counter" value="1">
                                            <span class="plus">+</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="" id=""></td>
                                    <td>Policy Envelope (with window)</td>
                                    <td>30.5 * 22.5 cms</td>
                                    <td>
                                        <div class="number">
                                            <span class="minus">-</span>
                                            <input type="text" class="number_counter" value="1">
                                            <span class="plus">+</span>
                                        </div>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div><hr>

                      <button class="col-md-6" id="vendor-submit-btn">Submit</button>
                      <button class="col-md-6" id="vendor-reset-btn">Reset</button>
                    </form>
                      </div>
                

