
@{
    ViewData["Title"] = "RunTimeOrder";
    Layout = "~/Views/Shared/client_layout.cshtml";
}

<div class="run-time-order">
    <h3 class="mb-3">Run Time Order</h3>
    <form action="#" id="add-vendorform">

        <div class="form-group mb-3 col-md-6 ">
            <input class="form-control" id="inputdefault" placeholder="Description">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Quantity">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="HSN">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Category">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Make">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="GST(%)">
        </div>

        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="In Stock">
        </div>
        <div class="form-group mb-3 col-md-6">
            <input class="form-control" id="inputdefault" placeholder="Price">
        </div>

        <div class="run-time-order-file-upload">
            <h3>Product Image</h3>
            <div class="mb-5">
                <label for="formFile" class="form-label">Choose file or drop here</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <button class="col-md-12" id="run-time-order-submit-btn">Upload Quotation Image</button>
        </div>
    </form>
</div>

